<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/index.css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= message %></h1>

    <div class="frame">
     <div></div>
     <div></div>
     <div></div>
    </div>

    <canvas id="canvas"></canvas>

    <script type="text/javascript" src="/index.js"></script>
  </body>
</html>
